Nodos Node-RED/Dashboard 4 Motores a pasos.json
[
    {
        "id": "5c8eb171f4f53c9d",
        "type": "tab",
        "label": "MQTT Maqueta",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "3d82fca5f5fa6b4b",
        "type": "ui-button",
        "z": "5c8eb171f4f53c9d",
        "group": "5bc276292629aaca",
        "name": "",
        "label": "M1: ON",
        "order": 4,
        "width": 1,
        "height": "1",
        "emulateClick": false,
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "motor-1-on-premium",
        "icon": "fa-industry",
        "iconPosition": "left",
        "payload": "pwr:on",
        "payloadType": "str",
        "topic": "",
        "topicType": "msg",
        "buttonColor": "",
        "textColor": "",
        "iconColor": "",
        "enableClick": true,
        "enablePointerdown": false,
        "pointerdownPayload": "",
        "pointerdownPayloadType": "str",
        "enablePointerup": false,
        "pointerupPayload": "",
        "pointerupPayloadType": "str",
        "x": 840,
        "y": 420,
        "wires": [
            [
                "b11ab4b0dc44b7a9"
            ]
        ]
    },
    {
        "id": "2e16327c822def27",
        "type": "mqtt out",
        "z": "5c8eb171f4f53c9d",
        "name": "",
        "topic": "motores/control",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "a79aeed60e042c9a",
        "x": 1540,
        "y": 720,
        "wires": []
    },
    {
        "id": "9a56c757249365a1",
        "type": "ui-button",
        "z": "5c8eb171f4f53c9d",
        "group": "5bc276292629aaca",
        "name": "",
        "label": "M1: OFF",
        "order": 5,
        "width": 1,
        "height": "1",
        "emulateClick": false,
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "iconPosition": "left",
        "payload": "pwr:off",
        "payloadType": "str",
        "topic": "",
        "topicType": "msg",
        "buttonColor": "",
        "textColor": "",
        "iconColor": "",
        "enableClick": true,
        "enablePointerdown": false,
        "pointerdownPayload": "",
        "pointerdownPayloadType": "str",
        "enablePointerup": false,
        "pointerupPayload": "",
        "pointerupPayloadType": "str",
        "x": 840,
        "y": 460,
        "wires": [
            [
                "b11ab4b0dc44b7a9"
            ]
        ]
    },
    {
        "id": "a6b5cd93def037ae",
        "type": "ui-button",
        "z": "5c8eb171f4f53c9d",
        "group": "c5528eaf769e3060",
        "name": "",
        "label": "Motors ON",
        "order": 2,
        "width": 1,
        "height": 0,
        "emulateClick": false,
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "iconPosition": "left",
        "payload": "pwr:on",
        "payloadType": "str",
        "topic": "",
        "topicType": "msg",
        "buttonColor": "",
        "textColor": "",
        "iconColor": "",
        "enableClick": true,
        "enablePointerdown": false,
        "pointerdownPayload": "",
        "pointerdownPayloadType": "str",
        "enablePointerup": false,
        "pointerupPayload": "",
        "pointerupPayloadType": "str",
        "x": 670,
        "y": 1140,
        "wires": [
            [
                "0bcf433bd066fa60"
            ]
        ]
    },
    {
        "id": "88acbb98241cd3a6",
        "type": "ui-button",
        "z": "5c8eb171f4f53c9d",
        "group": "c5528eaf769e3060",
        "name": "",
        "label": "Motors OFF",
        "order": 3,
        "width": 1,
        "height": 0,
        "emulateClick": false,
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "iconPosition": "left",
        "payload": "pwr:off",
        "payloadType": "str",
        "topic": "",
        "topicType": "msg",
        "buttonColor": "",
        "textColor": "",
        "iconColor": "",
        "enableClick": true,
        "enablePointerdown": false,
        "pointerdownPayload": "",
        "pointerdownPayloadType": "str",
        "enablePointerup": false,
        "pointerupPayload": "",
        "pointerupPayloadType": "str",
        "x": 670,
        "y": 1180,
        "wires": [
            [
                "0bcf433bd066fa60"
            ]
        ]
    },
    {
        "id": "6f7f797dc87904d7",
        "type": "ui-slider",
        "z": "5c8eb171f4f53c9d",
        "group": "5bc276292629aaca",
        "name": "",
        "label": "Velocidad M1",
        "tooltip": "",
        "order": 6,
        "width": "12",
        "height": "1",
        "passthru": false,
        "outs": "all",
        "topic": "obc1/esp1/motor1/control",
        "topicType": "msg",
        "thumbLabel": "true",
        "showTicks": "always",
        "min": 0,
        "max": "10",
        "step": "",
        "className": "",
        "iconPrepend": "",
        "iconAppend": "",
        "color": "blue",
        "colorTrack": "gray",
        "colorThumb": "",
        "showTextField": false,
        "x": 700,
        "y": 380,
        "wires": [
            [
                "d77193eed6e05e49"
            ]
        ]
    },
    {
        "id": "d77193eed6e05e49",
        "type": "function",
        "z": "5c8eb171f4f53c9d",
        "name": "function M1",
        "func": "// Nodo function: \"Motor 1 Frecuencia\"\n// Convertir RPM a frecuencia (Hz)\n// RPM deseada = (frecuencia * 60) / 4096\n// frecuencia = (RPM * 4096) / 60\n\nlet rpm = msg.payload;\nlet frecuencia = Math.round((rpm * 4096) / 60);\n\nmsg.payload = \"pwm:freq:\" + frecuencia;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 990,
        "y": 380,
        "wires": [
            [
                "b11ab4b0dc44b7a9"
            ]
        ]
    },
    {
        "id": "fdc2bf5c254d084d",
        "type": "ui-button",
        "z": "5c8eb171f4f53c9d",
        "group": "23f463305dfe0b50",
        "name": "",
        "label": "M2: ON",
        "order": 4,
        "width": 1,
        "height": "1",
        "emulateClick": false,
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "motor-1-on-premium",
        "icon": "",
        "iconPosition": "left",
        "payload": "pwr:on",
        "payloadType": "str",
        "topic": "",
        "topicType": "msg",
        "buttonColor": "",
        "textColor": "",
        "iconColor": "",
        "enableClick": true,
        "enablePointerdown": false,
        "pointerdownPayload": "",
        "pointerdownPayloadType": "str",
        "enablePointerup": false,
        "pointerupPayload": "",
        "pointerupPayloadType": "str",
        "x": 840,
        "y": 620,
        "wires": [
            [
                "cd7610f8405f59d7"
            ]
        ]
    },
    {
        "id": "d3749d891af58bb2",
        "type": "ui-button",
        "z": "5c8eb171f4f53c9d",
        "group": "23f463305dfe0b50",
        "name": "",
        "label": " M2:OFF",
        "order": 5,
        "width": 1,
        "height": "1",
        "emulateClick": false,
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "iconPosition": "left",
        "payload": "pwr:off",
        "payloadType": "str",
        "topic": "",
        "topicType": "msg",
        "buttonColor": "",
        "textColor": "",
        "iconColor": "",
        "enableClick": true,
        "enablePointerdown": false,
        "pointerdownPayload": "",
        "pointerdownPayloadType": "str",
        "enablePointerup": false,
        "pointerupPayload": "",
        "pointerupPayloadType": "str",
        "x": 840,
        "y": 660,
        "wires": [
            [
                "cd7610f8405f59d7"
            ]
        ]
    },
    {
        "id": "44db9416109038dd",
        "type": "ui-template",
        "z": "5c8eb171f4f53c9d",
        "group": "",
        "page": "250f27028e33cc48",
        "ui": "",
        "name": "Estilos Botones Motor",
        "order": 1,
        "width": 0,
        "height": 0,
        "head": "",
        "format": "<template>\n    <Teleport v-if=\"mounted\" to=\"head\">\n        <style>\n            /* Estilos para el bot칩n Motor 1 ON */\n            .motor-1-on-premium .v-btn {\n                background: linear-gradient(145deg, #4CAF50, #2E7D32) !important;\n                border: 2px solid #FFD700 !important;\n                box-shadow: 0 4px 15px rgba(76, 175, 80, 0.4) !important;\n                font-weight: bold !important;\n                letter-spacing: 1px !important;\n                transition: all 0.3s ease !important;\n                color: white !important;\n            }\n\n            /* Efecto hover (cuando pasas el mouse) */\n            .motor-1-on-premium .v-btn:hover {\n                transform: scale(1.05) !important;\n                box-shadow: 0 6px 20px rgba(76, 175, 80, 0.6) !important;\n                background: linear-gradient(145deg, #66BB6A, #388E3C) !important;\n            }\n\n            /* Efecto cuando haces clic */\n            .motor-1-on-premium .v-btn:active {\n                transform: scale(0.98) !important;\n            }\n\n            /* Estilo para el 칤cono */\n            .motor-1-on-premium .v-icon {\n                animation: pulse 2s infinite;\n                font-size: 24px !important;\n            }\n\n            /* Animaci칩n del 칤cono */\n            @keyframes pulse {\n                0% {\n                    opacity: 1;\n                }\n\n                50% {\n                    opacity: 0.7;\n                    transform: scale(1.1);\n                }\n\n                100% {\n                    opacity: 1;\n                }\n            }\n\n            /* (Opcional) Estilos para el bot칩n Motor 1 OFF */\n            .motor-1-off-premium .v-btn {\n                background: linear-gradient(145deg, #f44336, #b71c1c) !important;\n                border: 2px solid #FFD700 !important;\n                box-shadow: 0 4px 15px rgba(244, 67, 54, 0.4) !important;\n                font-weight: bold !important;\n                color: white !important;\n            }\n\n            .motor-1-off-premium .v-btn:hover {\n                transform: scale(1.05) !important;\n                background: linear-gradient(145deg, #ef5350, #c62828) !important;\n            }\n        </style>\n    </Teleport>\n\n    <!-- Este div no mostrar치 nada visible -->\n    <div style=\"display: none;\">\n        Estilos cargados correctamente\n    </div>\n</template>\n\n<script>\n    export default {\n    data() {\n        return {\n            mounted: false\n        }\n    },\n    mounted() {\n        this.mounted = true\n        console.log(\"游꿛 Estilos personalizados cargados\");\n    }\n}\n</script>",
        "storeOutMessages": true,
        "passthru": false,
        "resendOnRefresh": true,
        "templateScope": "page:style",
        "className": "estilos-personalizados",
        "x": 140,
        "y": 260,
        "wires": [
            []
        ]
    },
    {
        "id": "31bca8d02447e413",
        "type": "ui-gauge",
        "z": "5c8eb171f4f53c9d",
        "name": "",
        "group": "5bc276292629aaca",
        "order": 2,
        "value": "{{msg.payload}}",
        "valueType": "msg",
        "width": "6",
        "height": 3,
        "gtype": "gauge-half",
        "gstyle": "needle",
        "title": "Vel. Motor 1",
        "alwaysShowTitle": false,
        "floatingTitlePosition": "top-left",
        "units": "RPM",
        "icon": "mdi:speedometer",
        "prefix": "",
        "suffix": "rpm",
        "segments": [
            {
                "from": "0",
                "color": "#5cd65c",
                "text": "",
                "textType": "label"
            },
            {
                "from": "4",
                "color": "#ffc800",
                "text": "",
                "textType": "label"
            },
            {
                "from": "7",
                "color": "#ea5353",
                "text": "",
                "textType": "label"
            }
        ],
        "min": "1",
        "max": "10",
        "sizeThickness": 16,
        "sizeGap": 4,
        "sizeKeyThickness": 8,
        "styleRounded": true,
        "styleGlow": false,
        "className": "",
        "x": 330,
        "y": 380,
        "wires": [
            []
        ]
    },
    {
        "id": "5a579c1fd9119acf",
        "type": "mqtt in",
        "z": "5c8eb171f4f53c9d",
        "name": "MQTT RPM Motor 1",
        "topic": "obc1/esp1/rpm/motor1",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "a79aeed60e042c9a",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 130,
        "y": 440,
        "wires": [
            [
                "31bca8d02447e413",
                "e532d1da626abb98"
            ]
        ]
    },
    {
        "id": "e532d1da626abb98",
        "type": "ui-chart",
        "z": "5c8eb171f4f53c9d",
        "group": "5bc276292629aaca",
        "name": "Motor 1 Char",
        "label": "Motor 1",
        "order": 3,
        "chartType": "line",
        "category": "topic",
        "categoryType": "msg",
        "xAxisLabel": "Tiempo",
        "xAxisProperty": "",
        "xAxisPropertyType": "timestamp",
        "xAxisType": "time",
        "xAxisFormat": "",
        "xAxisFormatType": "auto",
        "xmin": "",
        "xmax": "",
        "yAxisLabel": "Velocidad (RPM)",
        "yAxisProperty": "{{msg.payload}}",
        "yAxisPropertyType": "msg",
        "ymin": "0",
        "ymax": "15",
        "bins": 10,
        "action": "append",
        "stackSeries": false,
        "pointShape": "circle",
        "pointRadius": 4,
        "showLegend": true,
        "removeOlder": 1,
        "removeOlderUnit": "3600",
        "removeOlderPoints": "",
        "colors": [
            "#0095ff",
            "#a80b0b",
            "#ff7f0e",
            "#2ca02c",
            "#a347e1",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "textColor": [
            "#666666"
        ],
        "textColorDefault": true,
        "gridColor": [
            "#e5e5e5"
        ],
        "gridColorDefault": true,
        "width": "4",
        "height": "4",
        "className": "",
        "interpolation": "linear",
        "x": 330,
        "y": 480,
        "wires": [
            []
        ]
    },
    {
        "id": "00f70d396e33d4f9",
        "type": "function",
        "z": "5c8eb171f4f53c9d",
        "name": "function M2",
        "func": "// Nodo function: \"Motor 2 Frecuencia\"\n// Convertir RPM a frecuencia (Hz)\n// RPM deseada = (frecuencia * 60) / 4096\n// frecuencia = (RPM * 4096) / 60\n\nlet rpm = msg.payload;\nlet frecuencia = Math.round((rpm * 4096) / 60);\n\nmsg.payload = \"pwm:freq:\" + frecuencia;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 890,
        "y": 580,
        "wires": [
            [
                "cd7610f8405f59d7"
            ]
        ]
    },
    {
        "id": "d02f46671db7f31f",
        "type": "function",
        "z": "5c8eb171f4f53c9d",
        "name": "function M3",
        "func": "// Nodo function: \"Motor 3 Frecuencia\"\n// Convertir RPM a frecuencia (Hz)\n// RPM deseada = (frecuencia * 60) / 4096\n// frecuencia = (RPM * 4096) / 60\n\nlet rpm = msg.payload;\nlet frecuencia = Math.round((rpm * 4096) / 60);\n\nmsg.payload = \"pwm:freq:\" + frecuencia;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 910,
        "y": 740,
        "wires": [
            [
                "5af22e33b2b69f90"
            ]
        ]
    },
    {
        "id": "9865b9259abc86b0",
        "type": "function",
        "z": "5c8eb171f4f53c9d",
        "name": "function M4",
        "func": "// Nodo function: \"Motor 4 Frecuencia\"\n// Convertir RPM a frecuencia (Hz)\n// RPM deseada = (frecuencia * 60) / 4096\n// frecuencia = (RPM * 4096) / 60\n\nlet rpm = msg.payload;\nlet frecuencia = Math.round((rpm * 4096) / 60);\n\nmsg.payload = \"pwm:freq:\" + frecuencia;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 890,
        "y": 920,
        "wires": [
            [
                "17e683c785052a93"
            ]
        ]
    },
    {
        "id": "5b4402ac476f3636",
        "type": "ui-slider",
        "z": "5c8eb171f4f53c9d",
        "group": "23f463305dfe0b50",
        "name": "",
        "label": "Velocidad M2",
        "tooltip": "",
        "order": 6,
        "width": "12",
        "height": "1",
        "passthru": true,
        "outs": "all",
        "topic": "obc1/esp1/motor1/control",
        "topicType": "msg",
        "thumbLabel": "true",
        "showTicks": "always",
        "min": 0,
        "max": "10",
        "step": "",
        "className": "",
        "iconPrepend": "",
        "iconAppend": "",
        "color": "blue",
        "colorTrack": "gray",
        "colorThumb": "",
        "showTextField": false,
        "x": 700,
        "y": 580,
        "wires": [
            [
                "00f70d396e33d4f9"
            ]
        ]
    },
    {
        "id": "c6f0b91d79d46a68",
        "type": "mqtt in",
        "z": "5c8eb171f4f53c9d",
        "name": "MQTT RPM Motor 2",
        "topic": "obc1/esp1/rpm/motor2",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "a79aeed60e042c9a",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 130,
        "y": 620,
        "wires": [
            [
                "665648d9e572036d",
                "d7a4fff59c88ac64"
            ]
        ]
    },
    {
        "id": "665648d9e572036d",
        "type": "ui-gauge",
        "z": "5c8eb171f4f53c9d",
        "name": "",
        "group": "23f463305dfe0b50",
        "order": 2,
        "value": "",
        "valueType": "msg",
        "width": "6",
        "height": 3,
        "gtype": "gauge-half",
        "gstyle": "needle",
        "title": "Vel. Motor 2",
        "alwaysShowTitle": false,
        "floatingTitlePosition": "top-left",
        "units": "RPM",
        "icon": "mdi:speedometer",
        "prefix": "",
        "suffix": "rpm",
        "segments": [
            {
                "from": "0",
                "color": "#5cd65c",
                "text": "",
                "textType": "label"
            },
            {
                "from": "4",
                "color": "#ffc800",
                "text": "",
                "textType": "label"
            },
            {
                "from": "7",
                "color": "#ea5353",
                "text": "",
                "textType": "label"
            }
        ],
        "min": "1",
        "max": "10",
        "sizeThickness": 16,
        "sizeGap": 4,
        "sizeKeyThickness": 8,
        "styleRounded": true,
        "styleGlow": false,
        "className": "",
        "x": 330,
        "y": 580,
        "wires": [
            []
        ]
    },
    {
        "id": "d7a4fff59c88ac64",
        "type": "ui-chart",
        "z": "5c8eb171f4f53c9d",
        "group": "23f463305dfe0b50",
        "name": "Motor 2 Char",
        "label": "Motor 1",
        "order": 3,
        "chartType": "line",
        "category": "topic",
        "categoryType": "msg",
        "xAxisLabel": "Tiempo",
        "xAxisProperty": "",
        "xAxisPropertyType": "timestamp",
        "xAxisType": "time",
        "xAxisFormat": "",
        "xAxisFormatType": "auto",
        "xmin": "",
        "xmax": "",
        "yAxisLabel": "Velocidad (RPM)",
        "yAxisProperty": "payload",
        "yAxisPropertyType": "msg",
        "ymin": "0",
        "ymax": "15",
        "bins": 10,
        "action": "append",
        "stackSeries": false,
        "pointShape": "circle",
        "pointRadius": 4,
        "showLegend": true,
        "removeOlder": 1,
        "removeOlderUnit": "3600",
        "removeOlderPoints": "",
        "colors": [
            "#0095ff",
            "#a80b0b",
            "#ff7f0e",
            "#2ca02c",
            "#a347e1",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "textColor": [
            "#666666"
        ],
        "textColorDefault": true,
        "gridColor": [
            "#e5e5e5"
        ],
        "gridColorDefault": true,
        "width": "4",
        "height": "4",
        "className": "",
        "interpolation": "linear",
        "x": 330,
        "y": 660,
        "wires": [
            []
        ]
    },
    {
        "id": "05d6b2e24903e82d",
        "type": "ui-slider",
        "z": "5c8eb171f4f53c9d",
        "group": "22de8c69904b2def",
        "name": "",
        "label": "Velocidad M3",
        "tooltip": "",
        "order": 6,
        "width": "12",
        "height": "1",
        "passthru": false,
        "outs": "all",
        "topic": "obc1/esp1/motor3/control",
        "topicType": "msg",
        "thumbLabel": "true",
        "showTicks": "always",
        "min": 0,
        "max": "10",
        "step": "",
        "className": "",
        "iconPrepend": "",
        "iconAppend": "",
        "color": "blue",
        "colorTrack": "gray",
        "colorThumb": "",
        "showTextField": false,
        "x": 720,
        "y": 740,
        "wires": [
            [
                "d02f46671db7f31f"
            ]
        ]
    },
    {
        "id": "6e41d2ce9eeaf277",
        "type": "ui-button",
        "z": "5c8eb171f4f53c9d",
        "group": "22de8c69904b2def",
        "name": "",
        "label": "M3: ON",
        "order": 4,
        "width": 1,
        "height": "1",
        "emulateClick": false,
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "motor-1-on-premium",
        "icon": "fa-industry",
        "iconPosition": "left",
        "payload": "pwr:on",
        "payloadType": "str",
        "topic": "",
        "topicType": "msg",
        "buttonColor": "",
        "textColor": "",
        "iconColor": "",
        "enableClick": true,
        "enablePointerdown": false,
        "pointerdownPayload": "",
        "pointerdownPayloadType": "str",
        "enablePointerup": false,
        "pointerupPayload": "",
        "pointerupPayloadType": "str",
        "x": 760,
        "y": 780,
        "wires": [
            [
                "5af22e33b2b69f90"
            ]
        ]
    },
    {
        "id": "afa8823926cf62d6",
        "type": "ui-button",
        "z": "5c8eb171f4f53c9d",
        "group": "22de8c69904b2def",
        "name": "",
        "label": "M3: OFF",
        "order": 5,
        "width": 1,
        "height": "1",
        "emulateClick": false,
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "iconPosition": "left",
        "payload": "pwr:off",
        "payloadType": "str",
        "topic": "",
        "topicType": "msg",
        "buttonColor": "",
        "textColor": "",
        "iconColor": "",
        "enableClick": true,
        "enablePointerdown": false,
        "pointerdownPayload": "",
        "pointerdownPayloadType": "str",
        "enablePointerup": false,
        "pointerupPayload": "",
        "pointerupPayloadType": "str",
        "x": 760,
        "y": 820,
        "wires": [
            [
                "5af22e33b2b69f90"
            ]
        ]
    },
    {
        "id": "63fdc825a2d6d101",
        "type": "mqtt in",
        "z": "5c8eb171f4f53c9d",
        "name": "MQTT RPM Motor 1",
        "topic": "obc1/esp1/rpm/motor3",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "a79aeed60e042c9a",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 130,
        "y": 780,
        "wires": [
            [
                "e4a52dab706c9497",
                "c19cf0b85959ce14"
            ]
        ]
    },
    {
        "id": "e4a52dab706c9497",
        "type": "ui-gauge",
        "z": "5c8eb171f4f53c9d",
        "name": "",
        "group": "22de8c69904b2def",
        "order": 2,
        "value": "payload",
        "valueType": "msg",
        "width": "6",
        "height": 3,
        "gtype": "gauge-half",
        "gstyle": "needle",
        "title": "Vel. Motor 3",
        "alwaysShowTitle": false,
        "floatingTitlePosition": "top-left",
        "units": "RPM",
        "icon": "mdi:speedometer",
        "prefix": "",
        "suffix": "rpm",
        "segments": [
            {
                "from": "0",
                "color": "#5cd65c",
                "text": "",
                "textType": "label"
            },
            {
                "from": "4",
                "color": "#ffc800",
                "text": "",
                "textType": "label"
            },
            {
                "from": "7",
                "color": "#ea5353",
                "text": "",
                "textType": "label"
            }
        ],
        "min": "1",
        "max": "10",
        "sizeThickness": 16,
        "sizeGap": 4,
        "sizeKeyThickness": 8,
        "styleRounded": true,
        "styleGlow": false,
        "className": "",
        "x": 330,
        "y": 740,
        "wires": [
            []
        ]
    },
    {
        "id": "c19cf0b85959ce14",
        "type": "ui-chart",
        "z": "5c8eb171f4f53c9d",
        "group": "22de8c69904b2def",
        "name": "Motor 3 Char",
        "label": "Motor 1",
        "order": 3,
        "chartType": "line",
        "category": "topic",
        "categoryType": "msg",
        "xAxisLabel": "Tiempo",
        "xAxisProperty": "",
        "xAxisPropertyType": "timestamp",
        "xAxisType": "time",
        "xAxisFormat": "",
        "xAxisFormatType": "auto",
        "xmin": "",
        "xmax": "",
        "yAxisLabel": "Velocidad (RPM)",
        "yAxisProperty": "payload",
        "yAxisPropertyType": "msg",
        "ymin": "0",
        "ymax": "15",
        "bins": 10,
        "action": "append",
        "stackSeries": false,
        "pointShape": "circle",
        "pointRadius": 4,
        "showLegend": true,
        "removeOlder": 1,
        "removeOlderUnit": "3600",
        "removeOlderPoints": "",
        "colors": [
            "#0095ff",
            "#a80b0b",
            "#ff7f0e",
            "#2ca02c",
            "#a347e1",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "textColor": [
            "#666666"
        ],
        "textColorDefault": true,
        "gridColor": [
            "#e5e5e5"
        ],
        "gridColorDefault": true,
        "width": "4",
        "height": "4",
        "className": "",
        "interpolation": "linear",
        "x": 330,
        "y": 820,
        "wires": [
            []
        ]
    },
    {
        "id": "6c7c3ad701565b3d",
        "type": "ui-slider",
        "z": "5c8eb171f4f53c9d",
        "group": "5353f6e93e739e2b",
        "name": "",
        "label": "Velocidad M4",
        "tooltip": "",
        "order": 6,
        "width": "12",
        "height": "1",
        "passthru": false,
        "outs": "all",
        "topic": "obc1/esp1/motor4/control",
        "topicType": "msg",
        "thumbLabel": "true",
        "showTicks": "always",
        "min": 0,
        "max": "10",
        "step": "",
        "className": "",
        "iconPrepend": "",
        "iconAppend": "",
        "color": "blue",
        "colorTrack": "gray",
        "colorThumb": "",
        "showTextField": false,
        "x": 680,
        "y": 920,
        "wires": [
            [
                "9865b9259abc86b0"
            ]
        ]
    },
    {
        "id": "9e37c87394230149",
        "type": "ui-button",
        "z": "5c8eb171f4f53c9d",
        "group": "5353f6e93e739e2b",
        "name": "",
        "label": "M4: ON",
        "order": 4,
        "width": 1,
        "height": "1",
        "emulateClick": false,
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "motor-1-on-premium",
        "icon": "fa-industry",
        "iconPosition": "left",
        "payload": "pwr:on",
        "payloadType": "str",
        "topic": "",
        "topicType": "msg",
        "buttonColor": "",
        "textColor": "",
        "iconColor": "",
        "enableClick": true,
        "enablePointerdown": false,
        "pointerdownPayload": "",
        "pointerdownPayloadType": "str",
        "enablePointerup": false,
        "pointerupPayload": "",
        "pointerupPayloadType": "str",
        "x": 660,
        "y": 960,
        "wires": [
            [
                "17e683c785052a93"
            ]
        ]
    },
    {
        "id": "3a42636995e91567",
        "type": "ui-button",
        "z": "5c8eb171f4f53c9d",
        "group": "5353f6e93e739e2b",
        "name": "",
        "label": "M3: OFF",
        "order": 5,
        "width": 1,
        "height": "1",
        "emulateClick": false,
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "iconPosition": "left",
        "payload": "pwr:off",
        "payloadType": "str",
        "topic": "motores/control",
        "topicType": "msg",
        "buttonColor": "",
        "textColor": "",
        "iconColor": "",
        "enableClick": true,
        "enablePointerdown": false,
        "pointerdownPayload": "",
        "pointerdownPayloadType": "str",
        "enablePointerup": false,
        "pointerupPayload": "",
        "pointerupPayloadType": "str",
        "x": 660,
        "y": 1000,
        "wires": [
            [
                "17e683c785052a93"
            ]
        ]
    },
    {
        "id": "71e68ab0de30df2d",
        "type": "mqtt in",
        "z": "5c8eb171f4f53c9d",
        "name": "MQTT RPM Motor 1",
        "topic": "obc1/esp1/rpm/motor4",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "a79aeed60e042c9a",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 130,
        "y": 940,
        "wires": [
            [
                "5dce4cd330ae8865",
                "f25896592a6783f1"
            ]
        ]
    },
    {
        "id": "5dce4cd330ae8865",
        "type": "ui-gauge",
        "z": "5c8eb171f4f53c9d",
        "name": "",
        "group": "5353f6e93e739e2b",
        "order": 2,
        "value": "payload",
        "valueType": "msg",
        "width": "6",
        "height": 3,
        "gtype": "gauge-half",
        "gstyle": "needle",
        "title": "Vel. Motor 4",
        "alwaysShowTitle": false,
        "floatingTitlePosition": "top-left",
        "units": "RPM",
        "icon": "mdi:speedometer",
        "prefix": "",
        "suffix": "rpm",
        "segments": [
            {
                "from": "0",
                "color": "#5cd65c",
                "text": "",
                "textType": "label"
            },
            {
                "from": "4",
                "color": "#ffc800",
                "text": "",
                "textType": "label"
            },
            {
                "from": "7",
                "color": "#ea5353",
                "text": "",
                "textType": "label"
            }
        ],
        "min": "1",
        "max": "10",
        "sizeThickness": 16,
        "sizeGap": 4,
        "sizeKeyThickness": 8,
        "styleRounded": true,
        "styleGlow": false,
        "className": "",
        "x": 290,
        "y": 900,
        "wires": [
            []
        ]
    },
    {
        "id": "f25896592a6783f1",
        "type": "ui-chart",
        "z": "5c8eb171f4f53c9d",
        "group": "5353f6e93e739e2b",
        "name": "Motor 4 Char",
        "label": "Motor 1",
        "order": 3,
        "chartType": "line",
        "category": "topic",
        "categoryType": "msg",
        "xAxisLabel": "Tiempo",
        "xAxisProperty": "",
        "xAxisPropertyType": "timestamp",
        "xAxisType": "time",
        "xAxisFormat": "",
        "xAxisFormatType": "auto",
        "xmin": "",
        "xmax": "",
        "yAxisLabel": "Velocidad (RPM)",
        "yAxisProperty": "payload",
        "yAxisPropertyType": "msg",
        "ymin": "0",
        "ymax": "15",
        "bins": 10,
        "action": "append",
        "stackSeries": false,
        "pointShape": "circle",
        "pointRadius": 4,
        "showLegend": true,
        "removeOlder": 1,
        "removeOlderUnit": "3600",
        "removeOlderPoints": "",
        "colors": [
            "#0095ff",
            "#a80b0b",
            "#ff7f0e",
            "#2ca02c",
            "#a347e1",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "textColor": [
            "#666666"
        ],
        "textColorDefault": true,
        "gridColor": [
            "#e5e5e5"
        ],
        "gridColorDefault": true,
        "width": "4",
        "height": "4",
        "className": "",
        "interpolation": "linear",
        "x": 290,
        "y": 980,
        "wires": [
            []
        ]
    },
    {
        "id": "b11ab4b0dc44b7a9",
        "type": "mqtt out",
        "z": "5c8eb171f4f53c9d",
        "name": "",
        "topic": "obc1/esp1/motor1/control",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "a79aeed60e042c9a",
        "x": 1230,
        "y": 440,
        "wires": []
    },
    {
        "id": "cd7610f8405f59d7",
        "type": "mqtt out",
        "z": "5c8eb171f4f53c9d",
        "name": "",
        "topic": "obc1/esp1/motor2/control",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "a79aeed60e042c9a",
        "x": 1230,
        "y": 640,
        "wires": []
    },
    {
        "id": "5af22e33b2b69f90",
        "type": "mqtt out",
        "z": "5c8eb171f4f53c9d",
        "name": "",
        "topic": "obc1/esp1/motor3/control",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "a79aeed60e042c9a",
        "x": 1230,
        "y": 780,
        "wires": []
    },
    {
        "id": "17e683c785052a93",
        "type": "mqtt out",
        "z": "5c8eb171f4f53c9d",
        "name": "",
        "topic": "obc1/esp1/motor4/control",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "a79aeed60e042c9a",
        "x": 1230,
        "y": 960,
        "wires": []
    },
    {
        "id": "0bcf433bd066fa60",
        "type": "mqtt out",
        "z": "5c8eb171f4f53c9d",
        "name": "",
        "topic": "obc1/esp1/traction/control",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "a79aeed60e042c9a",
        "x": 1170,
        "y": 1140,
        "wires": []
    },
    {
        "id": "3c418f7d94445bf8",
        "type": "function",
        "z": "5c8eb171f4f53c9d",
        "name": "function All Motors",
        "func": "// Nodo function: \"Frecuencia Global\"\nlet rpm = msg.payload;\nlet frecuencia = Math.round((rpm * 4096) / 60);\nmsg.payload = \"pwm:freq:\" + frecuencia;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 910,
        "y": 1100,
        "wires": [
            []
        ]
    },
    {
        "id": "ab63489620ba52e6",
        "type": "ui-slider",
        "z": "5c8eb171f4f53c9d",
        "group": "c5528eaf769e3060",
        "name": "",
        "label": "Velocidad M4",
        "tooltip": "",
        "order": 5,
        "width": "12",
        "height": "1",
        "passthru": false,
        "outs": "all",
        "topic": "obc1/esp1/traction/control",
        "topicType": "msg",
        "thumbLabel": "true",
        "showTicks": "always",
        "min": 0,
        "max": "10",
        "step": "",
        "className": "",
        "iconPrepend": "",
        "iconAppend": "",
        "color": "blue",
        "colorTrack": "gray",
        "colorThumb": "",
        "showTextField": false,
        "x": 660,
        "y": 1100,
        "wires": [
            [
                "3c418f7d94445bf8"
            ]
        ]
    },
    {
        "id": "4602a34a2577c542",
        "type": "debug",
        "z": "5c8eb171f4f53c9d",
        "name": "debug 1",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 640,
        "y": 180,
        "wires": []
    },
    {
        "id": "fa0efe78891cc39c",
        "type": "debug",
        "z": "5c8eb171f4f53c9d",
        "name": "debug 2",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 600,
        "y": 520,
        "wires": []
    },
    {
        "id": "5bc276292629aaca",
        "type": "ui-group",
        "name": "Monitor Motor 1",
        "page": "250f27028e33cc48",
        "width": "2",
        "height": 1,
        "order": 1,
        "showTitle": true,
        "className": "",
        "visible": "true",
        "disabled": "false",
        "groupType": "default"
    },
    {
        "id": "a79aeed60e042c9a",
        "type": "mqtt-broker",
        "name": "",
        "broker": "localhost",
        "port": 1883,
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": 4,
        "keepalive": 60,
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "c5528eaf769e3060",
        "type": "ui-group",
        "name": "Control 4 Motores",
        "page": "250f27028e33cc48",
        "width": 1,
        "height": 1,
        "order": 5,
        "showTitle": true,
        "className": "",
        "visible": "true",
        "disabled": "false",
        "groupType": "default"
    },
    {
        "id": "23f463305dfe0b50",
        "type": "ui-group",
        "name": "Monitor Motor 2",
        "page": "250f27028e33cc48",
        "width": "2",
        "height": 1,
        "order": 2,
        "showTitle": true,
        "className": "",
        "visible": "true",
        "disabled": "true",
        "groupType": "default"
    },
    {
        "id": "250f27028e33cc48",
        "type": "ui-page",
        "name": "Control de motores",
        "ui": "9f409d371c9a3d76",
        "path": "/page1",
        "icon": "mdi:engine",
        "layout": "grid",
        "theme": "eb86a27406736127",
        "breakpoints": [
            {
                "name": "Default",
                "px": "0",
                "cols": "3"
            },
            {
                "name": "Tablet",
                "px": "576",
                "cols": "6"
            },
            {
                "name": "Small Desktop",
                "px": "768",
                "cols": "9"
            },
            {
                "name": "Desktop",
                "px": "2048",
                "cols": "12"
            }
        ],
        "order": 1,
        "className": "",
        "visible": true,
        "disabled": false
    },
    {
        "id": "22de8c69904b2def",
        "type": "ui-group",
        "name": "Monitor Motor 3",
        "page": "250f27028e33cc48",
        "width": "2",
        "height": 1,
        "order": 3,
        "showTitle": true,
        "className": "",
        "visible": "true",
        "disabled": "false",
        "groupType": "default"
    },
    {
        "id": "5353f6e93e739e2b",
        "type": "ui-group",
        "name": "Monitor Motor 4 ",
        "page": "250f27028e33cc48",
        "width": 2,
        "height": 1,
        "order": 4,
        "showTitle": true,
        "className": "",
        "visible": "true",
        "disabled": "false",
        "groupType": "default"
    },
    {
        "id": "9f409d371c9a3d76",
        "type": "ui-base",
        "name": "My Dashboard",
        "path": "/dashboard",
        "appIcon": "",
        "includeClientData": true,
        "acceptsClientConfig": [
            "ui-notification",
            "ui-control"
        ],
        "showPathInSidebar": false,
        "headerContent": "page",
        "navigationStyle": "default",
        "titleBarStyle": "default",
        "showReconnectNotification": true,
        "notificationDisplayTime": 1,
        "showDisconnectNotification": true,
        "allowInstall": false
    },
    {
        "id": "eb86a27406736127",
        "type": "ui-theme",
        "name": "Theme Usuario",
        "colors": {
            "surface": "#1a4756",
            "primary": "#475a62",
            "bgPage": "#303030",
            "groupBg": "#2c2b2b",
            "groupOutline": "#e4dddd"
        },
        "sizes": {
            "density": "default",
            "pagePadding": "12px",
            "groupGap": "12px",
            "groupBorderRadius": "4px",
            "widgetGap": "12px"
        }
    },
    {
        "id": "52294b381b4bf75e",
        "type": "global-config",
        "env": [],
        "modules": {
            "@flowfuse/node-red-dashboard": "1.30.2"
        }
    }
]